# Look at the documentation to get right configuration for your project https://docs.codemash.io/get-started/set-up-api-keys
CODEMASH_SHOW_LOGS=true
CODEMASH_API_BASE_URI=https://api.codemash.io
CODEMASH_ACCOUNT_ID=df78be2d-debd-41b0-8d45-9a5fb0caa75b
CODEMASH_PROJECT_ID=2c821264-f6b8-428f-8cfe-3130e5a6c7b2
CODEMASH_API_KEY=c8yB__Your_API_KEY_GOES_HERE_voU
CODEMASH_HUB_API_BASE_URI=https://hub.codemash.io
CODEMASH_CLUSTER=adce808c-5819-4801-9d4d-3691c6c7c78f
CODEMASH_BASE_FILE_PATH=
CODEMASH_REGION=
CODEMASH_SHOW_LOGS=true


# For automatic test we are using
CODEMASH_API_BASE_URI=http://localhost:5002
CODEMASH_HUB_API_BASE_URI=http://localhost:5001
CODEMASH_SHOW_LOGS=true
CODEMASH_PROJECT_ID=-
CODEMASH_API_KEY=-
