# Look at the documentation to get right configuration for your project https://docs.codemash.io/get-started/set-up-api-keys
CODEMASH_API_KEY=
CODEMASH_PROJECT_ID=7254937f-ad77-4d00-9b35-c2af7841d21b
CODEMASH_CLUSTER=adce808c-5819-4801-9d4d-3691c6c7c78f
CODEMASH_SHOW_LOGS=true